body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    height: 100px;
    border-radius: 50%;
}

.contato {
    display: flex;
    flex-direction: column;
}