.carousel{
  margin: auto;
  width: 90%
}
body{
  background-color: rgb(26, 26, 26);
}

  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  nav {
    margin-top: 20px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  nav a:hover {
    color: #61d7ff;
  }
 
  .carousel img {
    width: 100%;
    height: auto;
  }
  .carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  .carousel-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .carousel-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .container{
    margin-top: 50px;
  }

 /* cad-adm */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.card-header {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.card-body {
  padding: 40px;
}
.form-group {
  margin-bottom: 25px;
}
.form-group input {
  border-radius: 25px;
  padding: 10px 20px;
}
.btn-register {
  background-color: #333;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-register:hover {
  background-color: #555;
}