.agendamento {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appointment-form {
  & form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.tipoServico {
  display: flex;
  /* position: absolute; */
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  height: 200px;
  width: 100%;
  & button {
    height: 50%;
  }
}
.lista {
  background-color: white;
  width: 100%;
  /* height: 100%; */
}