.carroussel {
    margin-top: 5px;
}

.gallery {
    background: black;
}

.gallery-cell {
    width: 100%;
    height: 300px;
    margin-right: 1px;
    background: rgb(19, 88, 19);
    counter-increment: gallery-cell;
}

.carroussel img {
    width: 100%;
    height: 100%;
}